.block{
    margin-top: 150px;
}
/* login,resetpass*/

.login{
    /* border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); */
    background-color: transparent;
}
.btn{

}
.form__input{
background-color: white;
}
.autorization{

    padding-bottom: 12px;;
}
.form__row{
   text-align: left;
   position: relative;
   padding-bottom:2%;

}
.v-icon{
    align-items: center;
    margin-right: 16px;

}
.img{
    background-image: url(C:\Users\38098\Downloads\zxczxczxc.png);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
.form__actions{
    margin-inline: 4px;
    display: flex;
  justify-content: space-between;

}
.btn-icon-pass{
    position: absolute;
    
    left: 82%;
    
}
.btn-second{
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.5);
    background-color: #abd7eb;
    border-radius: 4px;
    color: #0a6d62;
}

.loginBatton{
    color:#7b6953;
}

/* v-datatable */
.form_row{
    flex-direction: column;
}
.v-table{
    box-sizing: inherit;
}
.material-icons {
    font-family: 'Material Icons';
    text-transform: none;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
