

.login{
    
    width: 250px;
    background-color: transparent;
    border-radius: 10px;
}
 .r{
width: 280px;
} 
.form__input{
    
color: black;
background-color: transparent;
padding-bottom: 1%;
}
input::placeholder {
    color:#000000;
    border-bottom: 1px solid black;
  }
  input:focus {
    outline: none;
    background-color: #5960534d;
    
}
.autorization{

    padding-bottom: 12px;;
}
.form__row{
    padding-left: 2%;
   text-align: left;
   position: relative;
   padding-bottom:2%;

}
.v-icon{
    align-items: center;
    margin-right: 16px;

}


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
  }
  
.form__actions{
    padding-bottom: 4px;
    padding-inline: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    flex-wrap: wrap;
}
.form__actions button.reg {
  margin-top: 12px; 
}
.btn-reg{
  margin-left: 10px;
}
  
.btn-icon-pass{
    position: absolute;
    background-color: #00000026;
    left: 82%;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    width: 25px;
    color:#000000;
    
}
.q{
    margin-left: 9%;
}
.loginBatton{
    width: 110px;
    padding-top: 3px;
    background-color: #09ff0074;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-right: 5%;
}
.error-message{
color: rgba(240, 0, 28, 0.863);
font-size:12px;

}
.btn-second{
    background-color: #00000026;
     color: #0a6d62; 
}

.loginBatton{
    color:#000000;
    position: relative;
}

/* v-datatable */
.form_row{
    flex-direction: column;
}
.qw{
    width: 110px;
  padding-top: 3px;
  background-color: #09ff0074;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
 top:10px;
 right: 100px;
}
.bloc{
  position: absolute;
  top: 10px;
  left:47%;
  z-index: 1;
  
 
  
}
.v-table{
    box-sizing: inherit;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.8) !important;
}
.material-icons {
    font-family: 'Material Icons';
    text-transform: none;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  .v-application{
    display: none;
  }
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
  }
  
 
  
  a:visited {
    color:#000000 !important;
   
  }
  
  a:focus {
    border-bottom: 1px solid;
    
  }
  
  
  
  a:active {
    background: #a6c38f;
    
  }
  .btn-main:disabled {
    background-color: rgba(72, 100, 60, 0.929);
    color: #808080;
  }
.data{
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_reg{
  display: none;
  
}
.zxc{
  display: flex;
  padding-left: 5px;
}
.registration{
  margin-right: 4px;
}
.bak{
  background-color: #8080806d;
  width: 110px;
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.reg{

  background-color: rgba(30, 255, 0, 0.422);
  border-radius: 10px;
  width: 210px;
}
.vx{
  margin-top: 20px;
}
.form__promt-text{
  margin-top: 10px;
 color:#ff0000ec
 
}
.registration.loginBatton{
 margin-left: 20px;
}
.change{
  position: absolute;
  top: 10px;
  right: 250px;
  background-color: rgba(30, 255, 0, 0.422);
  border-radius: 10px;
  width: 110px;
  height: 30px;
}
.exit{
  background-color: rgba(255, 255, 255, 0.456);
  margin-top: 4px;
}
.chen{
  background-color: rgba(30, 255, 0, 0.608);
  border-radius: 10px;
}
.xz{
  margin-right: 170px;
  margin-top: 5px;
}
.z{
  margin-top: 5px;
  margin-right: 110px;
}